site_name: dbworkload
site_description: Simulator utility for DBMS workloads.
repo_name: dbworkload/dbworkload
repo_url: https://github.com/dbworkload/dbworkload

plugins:
  - search

markdown_extensions:
  - attr_list
  - mkdocs-click
  - admonition
  - pymdownx.details
  - pymdownx.superfences

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  logo: assets/dbw.jpg
  favicon: assets/dbw.jpg
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/lightbulb-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: orange
      accent: orange
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: orange
      accent: orange
      toggle:
        icon: material/lightbulb-outline
        name: Switch to system preference
  features:
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    - content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    # - navigation.instant.preview
    - navigation.instant.progress
    - navigation.path
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
extra:
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/dbworkload/dbworkload
  - icon: fontawesome/solid/comments
    link: https://github.com/dbworkload/dbworkload/discussions
  - icon: fontawesome/brands/docker
    link: https://github.com/dbworkload/dbworkload/pkgs/container/dbworkload
  - icon: fontawesome/brands/python
    link: https://pypi.org/project/dbworkload/


nav:
  - Home: 
    - index.md
  - Getting Started:
    - getting_started/index.md
    - getting_started/0.md
    - getting_started/1.md
    - getting_started/2.md
    - getting_started/3.md
    - getting_started/4.md
    - getting_started/5.md
    - getting_started/6.md
    - getting_started/7.md
    - getting_started/8.md
  - Docs:
    - docs/installation.md
    - docs/drivers.md
    - docs/how_it_works.md
    - Run Options:
        - docs/run/index.md
        - docs/run/schedule.md
        - docs/run/pipe.md
        - docs/run/max-rate.md
    - Utility Functions:
        - docs/util/index.md
        - docs/util/yaml.md
        - docs/util/csv.md
        - docs/util/merge_sort.md
        - docs/util/gen_stub.md
        - docs/util/html.md
        - docs/util/plot.md
        - docs/util/merge_csvs.md
        - docs/util/convert.md
    - docs/cli.md
  - faq.md
  - about.md
